# LibroSys-Legacy — Apache (XAMPP)
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /LibroSys-Legacy/
  DirectoryIndex index.php
</IfModule>

# Proteger carpetas internas
<IfModule mod_authz_core.c>
  Require all granted
</IfModule>

Options -Indexes
